[submodule "jmsd_original_openssl"]
	path = jmsd_original_openssl
	url = https://github.com/jiteman/jmsd_original_openssl.git
[submodule "jmsd_original_eastl"]
	path = jmsd_original_eastl
	url = https://github.com/jiteman/jmsd_original_eastl.git
[submodule "jmsd_original_poco"]
	path = jmsd_original_poco
	url = https://github.com/jiteman/jmsd_original_poco.git
[submodule "jmsd_original_poco_openssl"]
	path = jmsd_original_poco_openssl
	url = https://github.com/jiteman/jmsd_original_poco_openssl.git
[submodule "jmsd_original_cppunitlite"]
	path = jmsd_original_cppunitlite
	url = https://github.com/jiteman/jmsd_original_cppunitlite.git
