[submodule "jmsd_original_openssl"]
	path = jmsd_original_openssl
	url = https://github.com/jiteman/jmsd_original_openssl.git
[submodule "jmsd_original_eastl"]
	path = jmsd_original_eastl
	url = https://github.com/jiteman/jmsd_original_eastl.git
[submodule "jmsd_original_poco"]
	path = jmsd_original_poco
	url = https://github.com/jiteman/jmsd_original_poco.git
[submodule "jmsd_original_poco_openssl"]
	path = jmsd_original_poco_openssl
	url = https://github.com/jiteman/jmsd_original_poco_openssl.git
[submodule "jmsd_original_cppunitlite"]
	path = jmsd_original_cppunitlite
	url = https://github.com/jiteman/jmsd_original_cppunitlite.git
[submodule "jmsd_original_cppunit_libreoffice"]
	path = jmsd_original_cppunit_libreoffice
	url = https://github.com/jiteman/jmsd_original_cppunit_libreoffice.git
[submodule "jmsd_original_googletest"]
	path = jmsd_original_googletest
	url = https://github.com/jiteman/jmsd_original_googletest.git
[submodule "jmsd_original_catch_2"]
	path = jmsd_original_catch_2
	url = https://github.com/jiteman/jmsd_original_catch_2.git
[submodule "jmsd_original_xunit"]
	path = jmsd_original_xunit
	url = https://github.com/jiteman/jmsd_original_xunit.git
[submodule "jmsd_original_cpputest"]
	path = jmsd_original_cpputest
	url = https://github.com/jiteman/jmsd_original_cpputest.git
[submodule "jmsd_original_criterion"]
	path = jmsd_original_criterion
	url = https://github.com/jiteman/jmsd_original_criterion.git
[submodule "jmsd_original_cxxtest"]
	path = jmsd_original_cxxtest
	url = https://github.com/jiteman/jmsd_original_cxxtest.git
[submodule "jmsd_original_igloo"]
	path = jmsd_original_igloo
	url = https://github.com/jiteman/jmsd_original_igloo.git
[submodule "jmsd_original_tpunitpp"]
	path = jmsd_original_tpunitpp
	url = https://github.com/jiteman/jmsd_original_tpunitpp.git
[submodule "jmsd_original_fakeit"]
	path = jmsd_original_fakeit
	url = https://github.com/jiteman/jmsd_original_fakeit.git
[submodule "jmsd_original_hippomocks"]
	path = jmsd_original_hippomocks
	url = https://github.com/jiteman/jmsd_original_hippomocks.git
[submodule "jmsd_original_mockcpp"]
	path = jmsd_original_mockcpp
	url = https://github.com/jiteman/jmsd_original_mockcpp.git
[submodule "jmsd_original_mockitopp"]
	path = jmsd_original_mockitopp
	url = https://github.com/jiteman/jmsd_original_mockitopp.git
[submodule "jmsd_original_mockpp"]
	path = jmsd_original_mockpp
	url = https://github.com/jiteman/jmsd_original_mockpp.git
[submodule "jmsd_original_trompeloeil"]
	path = jmsd_original_trompeloeil
	url = https://github.com/jiteman/jmsd_original_trompeloeil.git
[submodule "jmsd_original_cute"]
	path = jmsd_original_cute
	url = https://github.com/jiteman/jmsd_original_cute.git
[submodule "jmsd_original_unittest_cpp"]
	path = jmsd_original_unittest_cpp
	url = https://github.com/jiteman/jmsd_original_unittest_cpp.git
